 ------------------------------- for pandas 6 continuation with 12. method*fillna() -----------------------*

In [1]:
import pandas as pd
import numpy as np

batsman = pd.read_csv('batsman_runs_ipl.csv')
movies = pd.read_csv('movies.csv')
ipl = pd.read_csv('ipl-matches.csv')

6. *rename()* -> for changing the columns name of a dataframe

we can even change the name of the index
Eg : Uri: The Surgical Strike to URI

In [2]:
movies.set_index('title_x' , inplace = True)
movies.rename(columns = {
    'imdb_id' : 'id_imdb',
    'poster_path' : 'path_poster'
} , inplace = True)

In [3]:
movies.rename(index = {
    'Uri: The Surgical Strike' : 'URI',
    'Battalion 609' : 'The IND|PAK match gone wrong'
},inplace = True)
movies.head(2)

,id_imdb,path_poster,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
title_x,,,,,,,,,,,,,,,,,
URI,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
The IND|PAK match gone wrong,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)

In [4]:
students = pd.DataFrame({
    'Name' : ['nitish','ankit','rupesh',np.nan,'shravan',np.nan,'akshay',np.nan,'vedant',np.nan],
    'College': ['bit','IIT','VIT',np.nan,np.nan,'vjti','ssit',np.nan,np.nan,'KJ'],
    'Branch' : ['eee','it','cse',np.nan,'me','ce','civ','cse','bio',np.nan],
    'cgpa' : [6.66,8.25,6.41,np.nan,5.60,9.00,7.40,10.00,7.40,np.nan],
    'package': [4.0,5.0,6.0,np.nan,6.0,7.0,8.0,9.0,np.nan,np.nan]
})
students

      Name College Branch   cgpa  package
0   nitish     bit    eee   6.66      4.0
1    ankit     IIT     it   8.25      5.0
2   rupesh     VIT    cse   6.41      6.0
3      NaN     NaN    NaN    NaN      NaN
4  shravan     NaN     me   5.60      6.0
5      NaN    vjti     ce   9.00      7.0
6   akshay    ssit    civ   7.40      8.0
7      NaN     NaN    cse  10.00      9.0
8   vedant     NaN    bio   7.40      NaN
9      NaN      KJ    NaN    NaN      NaN

12. fillna() (series + dataframe)

Filling missing values

In [5]:
# Filling null values in the Name column with a string called as 'Unknown'
students['Name'].fillna('Unknown').hasnans

False

In [6]:
# using fill na on  dataframe
students.fillna(0) # filling all missing values with zero
students['package'].fillna(students['package'].mean())

0    4.000000
1    5.000000
2    6.000000
3    6.428571
4    6.000000
5    7.000000
6    8.000000
7    9.000000
8    6.428571
9    6.428571
Name: package, dtype: float64

*ffill() and bfill()*

Forward fill and backward fill

In [7]:
students['Name'].ffill() # forward fill , fill the missing value with the value forward to it
students['College'].bfill() # backward fill

0     bit
1     IIT
2     VIT
3    vjti
4    vjti
5    vjti
6    ssit
7      KJ
8      KJ
9      KJ
Name: College, dtype: object

13. *drop_duplicates()* (series + dataframe)

Drop the duplicate values


Series -> Drops the duplicated rows

DataFrame -> Drops the duplicated rows

In [8]:
student_df = pd.DataFrame([
    [100,80,10],
    [90,70,7],
    [120,100,14],
    [80,70,14],
    [80,70,14]
] , columns = ['iq','marks','package'])

student_df.drop_duplicates(keep='last') # keep elements at the last occurance delete the first repeated ones

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
4   80     70       14

In [37]:
## find the last match played by virat kohli in Delhi
## we could have sorted on the basis of Date column
ipl_vk_play = ipl[ipl['All_Players'].str.contains('V Kohli')]
ipl_vk_play[ipl_vk_play['City'] == 'Delhi'].sort_values('ID',ascending = False).head(1)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,All_Players
208,1178421,Delhi,2019-04-28,2019,46,Delhi Capitals,Royal Challengers Bangalore,Arun Jaitley Stadium,Delhi Capitals,bat,...,Delhi Capitals,Runs,16.0,NaN,S Dhawan,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['PA Patel', 'V Kohli', 'AB de Villiers', 'S D...",BNJ Oxenford,KN Ananthapadmanabhan,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ..."

13. *drop()*
(series + dataframe)

Deleting rows and columns

In [39]:
temp_series = pd.Series([10,2,3,14,45,78,10])
temp_series.drop(index = [0,6]) # to delete we mention the index positions

1     2
2     3
3    14
4    45
5    78
dtype: int64

In [43]:
## using drop on a dataframe
## we need to drop the branch and cgpa columns
students = pd.DataFrame({
    'Name' : ['nitish','ankit','rupesh',np.nan,'shravan',np.nan,'akshay',np.nan,'vedant',np.nan],
    'College': ['bit','IIT','VIT',np.nan,np.nan,'vjti','ssit',np.nan,np.nan,'KJ'],
    'Branch' : ['eee','it','cse',np.nan,'me','ce','civ','cse','bio',np.nan],
    'cgpa' : [6.66,8.25,6.41,np.nan,5.60,9.00,7.40,10.00,7.40,np.nan],
    'package': [4.0,5.0,6.0,np.nan,6.0,7.0,8.0,9.0,np.nan,np.nan]
})
students

students.drop(columns=['Branch','cgpa'])

      Name College  package
0   nitish     bit      4.0
1    ankit     IIT      5.0
2   rupesh     VIT      6.0
3      NaN     NaN      NaN
4  shravan     NaN      6.0
5      NaN    vjti      7.0
6   akshay    ssit      8.0
7      NaN     NaN      9.0
8   vedant     NaN      NaN
9      NaN      KJ      NaN

In [44]:
### deleting rows from a dataframe
students.drop(index = [3,5])

      Name College Branch   cgpa  package
0   nitish     bit    eee   6.66      4.0
1    ankit     IIT     it   8.25      5.0
2   rupesh     VIT    cse   6.41      6.0
4  shravan     NaN     me   5.60      6.0
6   akshay    ssit    civ   7.40      8.0
7      NaN     NaN    cse  10.00      9.0
8   vedant     NaN    bio   7.40      NaN
9      NaN      KJ    NaN    NaN      NaN

In [46]:
## we can perform deleting on labelled index as well
students.set_index('Name').drop(index = ['ankit','shravan'])

       College Branch   cgpa  package
Name
nitish     bit    eee   6.66      4.0
rupesh     VIT    cse   6.41      6.0
NaN        NaN    NaN    NaN      NaN
NaN       vjti     ce   9.00      7.0
akshay    ssit    civ   7.40      8.0
NaN        NaN    cse  10.00      9.0
vedant     NaN    bio   7.40      NaN
NaN         KJ    NaN    NaN      NaN

14. *apply()*

To apply custom logic on a dataframe or series

In [50]:
## Calculate the sigmoid of each value in the series
temp = pd.Series([10,20,30,40,50])

def sigmoid(values):
  return 1/1+np.exp(-values)

temp.apply(sigmoid)

0    1.000045
1    1.000000
2    1.000000
3    1.000000
4    1.000000
dtype: float64

In [51]:
## example: create a new column eucladian distance of the both point
points_df = pd.DataFrame({
    'Point1' : [(3,4),(-6,5),(0,0),(-10,1),(4,5)],
    'Point2' : [(-3,4),(0,0),(2,2),(10,10),(1,1)]
})

points_df

     Point1    Point2
0    (3, 4)   (-3, 4)
1   (-6, 5)    (0, 0)
2    (0, 0)    (2, 2)
3  (-10, 1)  (10, 10)
4    (4, 5)    (1, 1)

In [58]:
def eucladian(row):
  pt_a = row['Point1']
  pt_b = row['Point2']

  return ((pt_a[0] - pt_b[0])**2 + (pt_a[1] - pt_b[1])**2)**0.5

In [59]:
points_df['Eucladian Distance'] = points_df.apply(eucladian , axis = 1)
points_df

     Point1    Point2  Eucladian Distance
0    (3, 4)   (-3, 4)            6.000000
1   (-6, 5)    (0, 0)            7.810250
2    (0, 0)    (2, 2)            2.828427
3  (-10, 1)  (10, 10)           21.931712
4    (4, 5)    (1, 1)            5.000000

-------------------------next --------------------------

15. *isin()* -> Membership operator

applicable for series