Pandas Important DataFrame methods and pandas 3 continuation

In [3]:
import pandas as pd
import numpy as np

batsman = pd.read_csv('batsman_runs_ipl.csv')
movies = pd.read_csv('movies.csv')
ipl = pd.read_csv('ipl-matches.csv')

6. *rename()* -> for changing the columns name of a dataframe

we can even change the name of the index
Eg : Uri: The Surgical Strike to URI

In [10]:
movies.set_index('title_x' , inplace = True)
movies.rename(columns = {
    'imdb_id' : 'id_imdb',
    'poster_path' : 'path_poster'
} , inplace = True)

In [15]:
movies.rename(index = {
    'Uri: The Surgical Strike' : 'URI',
    'Battalion 609' : 'The IND|PAK match gone wrong'
},inplace = True)
movies.head(2)

,id_imdb,path_poster,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
title_x,,,,,,,,,,,,,,,,,
URI,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
The IND|PAK match gone wrong,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)

7. *unique()* (applicable for series)

Returns all the unique values
Even for missing values it gives unique null values

In [19]:
temp_series = pd.Series([1,2,2,3,3,3,4,4,4,4,np.nan,np.nan])
temp_series.unique()

array([ 1.,  2.,  3.,  4., nan])

In [30]:
# total ipl seasons
(ipl['Season'].unique()).size

15

8. *nunique()* (series + dataframe)

Does not count nan -> drop parameter present

Similar to unique but it also gives the frequency of unique items
and it does not consider the null items or values

In [28]:
ipl['Season'].nunique()

15

9. *isnull()* (series + dataframe)

In [31]:
students = pd.DataFrame({
    'Name' : ['nitish','ankit','rupesh',np.nan,'shravan',np.nan,'akshay',np.nan,'vedant',np.nan],
    'College': ['bit','IIT','VIT',np.nan,np.nan,'vjti','ssit',np.nan,np.nan,'KJ'],
    'Branch' : ['eee','it','cse',np.nan,'me','ce','civ','cse','bio',np.nan],
    'cgpa' : [6.66,8.25,6.41,np.nan,5.60,9.00,7.40,10.00,7.40,np.nan],
    'package': [4.0,5.0,6.0,np.nan,6.0,7.0,8.0,9.0,np.nan,np.nan]
})
students

      Name College Branch   cgpa  package
0   nitish     bit    eee   6.66      4.0
1    ankit     IIT     it   8.25      5.0
2   rupesh     VIT    cse   6.41      6.0
3      NaN     NaN    NaN    NaN      NaN
4  shravan     NaN     me   5.60      6.0
5      NaN    vjti     ce   9.00      7.0
6   akshay    ssit    civ   7.40      8.0
7      NaN     NaN    cse  10.00      9.0
8   vedant     NaN    bio   7.40      NaN
9      NaN      KJ    NaN    NaN      NaN

In [33]:
students['Name'].isnull() # checks each value if it is null , if yes then true else false

0    False
1    False
2    False
3     True
4    False
5     True
6    False
7     True
8    False
9     True
Name: Name, dtype: bool

10. *notnull()* (series + dataframe)

opposite of the isnull() method

In [34]:
students['Name'].notnull() # if not null then true , if null then false

0     True
1     True
2     True
3    False
4     True
5    False
6     True
7    False
8     True
9    False
Name: Name, dtype: bool

10. *hasnans* (series) -> Attribute

Question -> Is there null value in the mentioned dataframe column
hasnans -> If present -> True  | If not -> False

In [39]:
students['Name'].hasnans

True

In [45]:
students.isnull()
students.notnull()

    Name  College  Branch   cgpa  package
0   True     True    True   True     True
1   True     True    True   True     True
2   True     True    True   True     True
3  False    False   False  False    False
4   True    False    True   True     True
5  False     True    True   True     True
6   True     True    True   True     True
7  False    False    True   True     True
8   True    False    True   True    False
9  False     True   False  False    False

11. *dropna()* (series+dataframe)


Disadvantage -> Removes data

Default Behaviour is how = 'any'

In [48]:
students['Name'].dropna() # on a series
students.dropna(how = 'any') # removes the rows which contains even single null values

     Name College Branch  cgpa  package
0  nitish     bit    eee  6.66      4.0
1   ankit     IIT     it  8.25      5.0
2  rupesh     VIT    cse  6.41      6.0
6  akshay    ssit    civ  7.40      8.0

In [50]:
students.dropna(how = 'all') # until and unless all the rows have missing values it should not drop the null values

      Name College Branch   cgpa  package
0   nitish     bit    eee   6.66      4.0
1    ankit     IIT     it   8.25      5.0
2   rupesh     VIT    cse   6.41      6.0
4  shravan     NaN     me   5.60      6.0
5      NaN    vjti     ce   9.00      7.0
6   akshay    ssit    civ   7.40      8.0
7      NaN     NaN    cse  10.00      9.0
8   vedant     NaN    bio   7.40      NaN
9      NaN      KJ    NaN    NaN      NaN

In [55]:
## we can delete or drop the null values based on a specific column
## Eg : Drop the null values only if the name column has any null value
students.dropna(subset='Name')

      Name College Branch  cgpa  package
0   nitish     bit    eee  6.66      4.0
1    ankit     IIT     it  8.25      5.0
2   rupesh     VIT    cse  6.41      6.0
4  shravan     NaN     me  5.60      6.0
6   akshay    ssit    civ  7.40      8.0
8   vedant     NaN    bio  7.40      NaN

In [56]:
## we can do it based on multiple columns as well
students.dropna(subset=['Name','College'])

     Name College Branch  cgpa  package
0  nitish     bit    eee  6.66      4.0
1   ankit     IIT     it  8.25      5.0
2  rupesh     VIT    cse  6.41      6.0
6  akshay    ssit    civ  7.40      8.0

 ------------------------------- for pandas 6 continuation with 12. method*fillna() -----------------------*