In [ ]:
from setuptools.command.develop import develop

"""
ðŸ“Œ Assignment Questions (20 Problems)
"""

In [3]:
# 1. Create a list
#
# Create a list named students with 5 student names and print:
#
# Length of the list
#
# First and last element


student = ["Shravan" , "Sumeet" , "Soham" , "Raj" , "Sahil"]
print(student)
print(len(student))
print(student[0] , student[-1])

['Shravan', 'Sumeet', 'Soham', 'Raj', 'Sahil']
5
Shravan Sahil

In [14]:
# 2. Access list elements

# Given:
#
# cities = ["Mumbai", "Delhi", "Pune", "Chennai", "Bangalore"]
#
#
# Print:
#
# The 2nd element
#
# The last two elements using slicing
#
# Elements from index 1 to 3

cities = ["Mumbai", "Delhi", "Pune", "Chennai", "Bangalore"]
print(cities[1]) # as second element is Delhi
print(cities[1:3])
print(cities[3:])

Delhi
['Delhi', 'Pune']
['Chennai', 'Bangalore']

In [15]:
# 3. Modify list
#
# Replace "Delhi" with "Hyderabad" in the cities list.

cities[1] = "Hyderabad"
print(cities)

['Mumbai', 'Hyderabad', 'Pune', 'Chennai', 'Bangalore']

In [16]:
# 4. Replace multiple elements using slicing
#
# Given:
#
# nums = [10,20,30,40,50]
#
#
# Replace the last 3 values with:
#
# 100, 200, 300
nums = [10,20,30,40,50]
nums[2:] = [100,200,300]
print(nums)

[10, 20, 100, 200, 300]

In [17]:
# Insert and append
#
# Create a list of libraries:
#
# libs = ["NumPy", "Pandas", "Matplotlib"]
#
#
# Insert "Seaborn" at index 1
#
# Append "Scikit-learn"

libs = ["NumPy", "Pandas", "Matplotlib"]
libs.insert(1,"Seaborn")
libs.append("Scikit-learn")
print(libs)

['NumPy', 'Seaborn', 'Pandas', 'Matplotlib', 'Scikit-learn']

In [18]:
# 6. Remove items
#
# From the list:
#
# devices = ["laptop", "tablet", "mobile", "laptop", "desktop"]
#
#
# Remove only the first "laptop"
#
# Pop the last item & print it

devices = ["laptop", "tablet", "mobile", "laptop", "desktop"]
devices.remove("laptop")
print(devices)
popped_item = devices.pop()
print(popped_item)
print(devices)

['tablet', 'mobile', 'laptop', 'desktop']
desktop
['tablet', 'mobile', 'laptop']

In [19]:
# 7. Count occurrences
#
# Count how many times "laptop" appears.
print(devices.count("laptop"))

1

In [41]:
# 8. Sort and reverse
#
# Sort the list alphabetically, then reverse it.

devices.sort()
print(devices)

devices.reverse()
print(devices)

['laptop', 'mobile', 'tablet']
['tablet', 'mobile', 'laptop']

In [42]:
# 9. Clear the list
#
# Using .clear(), empty the devices list.
devices.clear()
print(devices)

[]

In [60]:
# 10. Slicing task
#
# Given:
#
# nums = list(range(1, 21))
#
#
# Print:
#
# Even-indexed elements
#
# Odd-indexed elements
#
# List in reverse
#
# Every 3rd element

nums = list(range(1, 21))
print(nums[::2]) ## for even
print(nums[1::2]) ## for odd
print(nums[::-1])
print(nums[2::3])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[3, 6, 9, 12, 15, 18]

In [70]:
# 11. Iterate normally
#
# Create a list of 5 countries; print each using a normal for loop.

lst = ["Netherlands" ,"Brazil" , "France" , "Argentina" , "Portugal"]
for i in lst:
    print(i)

Netherlands
Brazil
France
Argentina
Portugal

In [78]:
# 12. Iterate with index
#
# Using enumerate(), print:
countries = ["Netherlands" ,"Brazil" , "France" , "Argentina" , "Portugal"]

for index,countries in enumerate(countries):
    print(index,countries)

0 Netherlands
1 Brazil
2 France
3 Argentina
4 Portugal

In [80]:
# 13. Generate squares using list comprehension
#
# Create:
#
# [1, 4, 9, 16, ..., 100]

[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [82]:
# 14. Filter even numbers using list comprehension
#
# From 0â€“30, generate only even numbers.

[i for i in range(0,31) if i%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [83]:
# 15. Add condition
#
# Generate:
#
# numbers from 1â€“50 that are divisible by both 2 AND 5

[i for i in range(1,51) if i%2==0 and i%5==0]

[10, 20, 30, 40, 50]

In [101]:
# 16. Convert strings to uppercase
#
# Given:
#
# names = ["shravan", "ayush", "arjun"]
names = ["shravan", "ayush", "arjun"]
[ names.upper() for names in names  ]

['SHRAVAN', 'AYUSH', 'ARJUN']

In [102]:
# 17. Generate pairs
#
# Given:
#
# a = [1,2,3]
# b = ["x", "y", "z"]

a = [1,2,3]
b = ["x", "y", "z"]
[(i,j) for i in a for j in b]

[(1, 'x'),
 (1, 'y'),
 (1, 'z'),
 (2, 'x'),
 (2, 'y'),
 (2, 'z'),
 (3, 'x'),
 (3, 'y'),
 (3, 'z')]

In [126]:
# 18. Multiplication Table (nested list comprehension)
#
# Create a 5Ã—5 multiplication table like:
#
# [
#  [1,2,3,4,5],
#  [2,4,6,8,10],
#  ...
# ]


tables = [[i*j for i in range(1,6)] for j in range(1,6)]
print(tables)

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]

In [130]:
# 19. Flatten a 2D List (Nested List Comprehension)
#
# Given:
#
# matrix = [[1,2,3], [4,5,6], [7,8,9]]

matrix = [[1,2,3], [4,5,6], [7,8,9]]
flatten_matrix = [j for i in matrix for j in i]
print(flatten_matrix)

[1, 2, 3, 4, 5, 6, 7, 8, 9]