In [ ]:
from itertools import count

from mysql.connector.utils import validate_normalized_unicode_string, print_buffer

"""

Assignment on tuples

"""

In [2]:
# Part 1:
# Create a tuple containing your name, age, and city.
#
# Print the first and last element.
#
# Create a tuple of 10 numbers.
#
# Print the element at index 3.
#
# Print the last 4 elements using slicing.
#
# Convert the following list into a tuple:
#
# [10, 20, 30, 40, 50]


personal_details = ("Shravan", 25, "Mumbai")
print(personal_details[0][-1])

numbers = (1,2,3,4,5,6,7,8,9,10)
print(numbers[3]) # printing element at index 3
print(numbers[-4:]) # we are printing the last 4 elements

num_list = [10, 20, 30, 40, 50]
num_tuple = tuple(num_list)
print(type(num_tuple))
print(num_tuple)

n
4
(7, 8, 9, 10)
<class 'tuple'>
(10, 20, 30, 40, 50)

In [3]:
# Part 2 — Tuple Operations
#
# Concatenate these two tuples:
#
# t1 = (1, 2, 3)
# t2 = (4, 5, 6)
#
#
# Store the result in a new tuple.
t1 = (1, 2, 3)
t2 = (4, 5, 6)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [6]:
# Repeat the following tuple 4 times:
#
# t = ("A", "B")
#
#
# Create a tuple of numbers from 1 to 5. Multiply it by 3.
# Explain what happens.
t = ("A", "B")
print(t*4)

num_1_to_5 = (1,2,3,4,5)
num_1_to_5*3

('A', 'B', 'A', 'B', 'A', 'B', 'A', 'B')

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [9]:
# Part 3 — Tuple Methods
#
# Given:
#
# marks = (85, 90, 75, 90, 60, 90)
#
#
# Count how many times 90 appears
#
# Find the index of 75
#
# Try finding index() of an element that is not present.
#
# Observe the error & write why tuple behaves that way.


marks = (85, 90, 75, 90, 60, 90)
print(marks.count(90)) # returns how many times the 90 has appeared

# Finding the index of 75
print(marks.index(75)) # returns the index of element 75

3
2

In [10]:
# Part 4 — Packing & Unpacking
#
# Pack these values into a tuple:
# "Python", 3.10, True, 2025
#
# Unpack the following tuple into four variables and print each:
#
# tup = ("apple", "banana", "cherry", "date")


packed_tuple = "Python" ,3.10 , True ,2025
print(packed_tuple)

tup = ("apple", "banana", "cherry", "date")
a,b,c,d = tup
print(a)
print(b)
print(c)
print(d)

('Python', 3.1, True, 2025)
apple
banana
cherry
date

In [11]:
# Use star unpacking:
#
# values = (1, 2, 3, 4, 5, 6, 7)
#
#
# Extract:
#
# first number
#
# last number
#
# all middle values using *
values = (1, 2, 3, 4, 5, 6, 7)
start,*middel,last = values
print(start)
print(middel)
print(last)

1
[2, 3, 4, 5, 6]
7

In [17]:
# Part 5 — Nested Tuples
#
# Given the nested tuple:
#
# nt = ((10,20,30), ("a","b","c"), (True, False))
#
#
# Print the value "b"
#
# Print 30
#
# Print True
#
# Iterate over the nested tuple and print all items in a single line.

nt = ((10,20,30), ("a","b","c"), (True, False))
print(nt[1][1])
print(nt[0][-1])
print(nt[-1][0])
print("------------------------------------------")
for sub_tuple in nt:
    for index in sub_tuple:
        print(index , end=" ")

b
30
True
------------------------------------------
10 20 30 a b c True False

In [182]:
# Part 6 — Logical / Interview-style Questions
#
# Check if an element exists in a tuple
# Given:
#
# numbers = (10, 20, 30, 40, 50)
#
#
# Write code to check if 30 is present.

numbers = (10, 20, 30, 40, 50)

is_present = numbers.count(30)
if is_present > 0:
    print("Yes")
else:
    print("No")

Yes

In [97]:
# Find the largest and smallest element
#
# values = (15, 88, 23, 41, 7, 90)

## we will convert the tuple to list, and then we will sort the list and then we will convert the list into
## tuple and will print the first and the last index
val =  (15, 88, 23, 41, 7, 90)
lst = list(val)
lst.sort()
print(f"Smallest : {lst[0]} , Largest :  {lst[-1]}")

Smallest : 7 , Largest :  90

In [106]:
# Convert a tuple to list → modify → convert back to tuple
#
# Tuple:
#
# t = (1, 2, 3, 4)
#
#
# Change the 2nd element to "Python"

t = (1, 2, 3, 4)
lst = list(t)
lst[2] = "Python"
tuple(lst)

(1, 2, 'Python', 4)

In [180]:
# Remove duplicates from a tuple
#
# tup = (1,2,3,1,2,4,5,1)
#
#
# Output should be:
#
# (1,2,3,4,5)

tup = (1,2,3,1,2,4,5,1)
lst = list(tup)
for item in tup:
    if lst.count(item)>1:
        lst.remove(item)
# new_tup = tuple(sorted(lst))
lst.sort()
new_tup = tuple(lst)
print(new_tup)

# Logic: we are taking a tuple tup, and we are converting it into a list as shown , then we are traversing
#        over the tuple tup , and we kept a condition that if the lst which has the tup elements if the
#        item count is greater than 1 or repeated , then we have to remove the first occurrence of the
#        element for which we are using the .remove() method and we are removing the repeated occurrence of
#        item and after doing that the list will be unsorted , then inorder to sort it and convert it into a
#        tuple we are using tuple(sorted(lst))
#
#

(1, 2, 3, 4, 5)

In [181]:
# Sort a tuple of numbers
# (Remember tuples are immutable, so use list conversion.)


tuple_num = (5,2,1,3,4)
lst_num = list(tuple_num)
lst_num.sort()
sorted_tup = tuple(lst_num)
print(sorted_tup)

(1, 2, 3, 4, 5)

In [221]:
# Count total vowels in this tuple of strings:
#
# words = ("apple", "banana", "grapes", "kiwi")

words = ("apple", "banana", "grapes", "kiwi")
vowels = "aeiouAEIOU"
count = 0

# we require three variables one is words which is actual tuple, second is vowels and third is the count
# which increments if the vowel is found

for i in words:
    for j in i:
        if j in vowels:
            count = count+1
print("No of vowels=",count)

No of vowels= 9

In [227]:
# Part 7 —
#
# You have a nested tuple representing student records:
#
# students = (
#     ("Shravan", 21, "Python"),
#     ("Ayush", 22, "Java"),
#     ("Arjun", 20, "AI/ML"),
# )
#
#
# Print each student’s details in this format:
#
# Name: ___ | Age: ___ | Course: ___

students = (("Shravan", 21, "Python"),("Ayush", 22, "Java"),("Arjun", 20, "AI/ML"))

for students in students:
    a,b,c = students
    print(f"Name : {a} | Age : {b} | Course : {c}")

Name : Shravan | Age : 21 | Course : Python
Name : Ayush | Age : 22 | Course : Java
Name : Arjun | Age : 20 | Course : AI/ML

In [235]:
# Reverse the following tuple without converting to list:
#
# t = (1,2,3,4,5,6)
t = (1,2,3,4,5,6)
rev_tuple = t[::-1]
print(rev_tuple)

(6, 5, 4, 3, 2, 1)

In [241]:
# Given a tuple:
#
# data = (10, 20, (30, 40, (50, 60)))
# Access 60 using indexing only.
data = (10, 20, (30, 40, (50, 60)))
data[2][2][-1]

60