In [ ]:
from psutil import net_if_stats

"""
    Tuples are immutable ordered collection of items that are immutable, they are similar to list, but
    their immutability makes them different

 Tuples in python
 1. Introduction to tuples
 2. Creating tuples
 3. Accessing tuple elements
 4. Tuple operations
 5. Immutable Nature of tuples
 6. Tuple methods
 7. Packing and unpacking tuples
 8. Nested tuples
"""

In [2]:
# creating a tuple

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [4]:
lst = list() # type of creating the list, and we can add elements in this list as well
print(type(lst))
tpl = tuple() # type of creating the tuple, and we can add elements in this tuples as well
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [5]:
# List converted to tuple in following way
numbers = tuple([1,2,3,4,5,6,7,8,9])
print(type(numbers))
print(numbers)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [8]:
# tuples can also be converted in a list
lst = list((1,2,3,4,5,6,7,8,9))
print(type(lst))
print(lst)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
mixed_tuple = (1,"Hello world",3.14,True)
print(mixed_tuple)

(1, 'Hello world', 3.14, True)

In [12]:
## Accessing tuple elements: we can access the tuple elements in the following way
print(numbers[0])
print(numbers[-1])

1
9

In [15]:
## slicing is similar in tuples as it was in list
tup_names = tuple(["shravan" , "ayush" , "arjun" , "harshad" , "vicky"])
print(tup_names[1:]) # accessing elements from the first index to the last index
print(tup_names[:3]) # from 0 th index to the 2nd index
print(tup_names[::]) # accessing all the elements
print(tup_names[::-1]) # from the last index with a step size of -1 , basically the tuple is reversed

('ayush', 'arjun', 'harshad', 'vicky')
('shravan', 'ayush', 'arjun')
('shravan', 'ayush', 'arjun', 'harshad', 'vicky')
('vicky', 'harshad', 'arjun', 'ayush', 'shravan')

In [17]:
## tuple operations

## 1. concatenating two tuples
laptop_brands = tuple(["lenovo" , "HP" , "Asus" , "Acer" , "Dell"])
mobile_brands = tuple(["Vivo" , "Nokia" ,"Samsung" , "Sony" ,"Apple"])
concatenated_brands = laptop_brands + mobile_brands # concatenation of two tuples
print(concatenated_brands)

('lenovo', 'HP', 'Asus', 'Acer', 'Dell', 'Vivo', 'Nokia', 'Samsung', 'Sony', 'Apple')

In [18]:
# 2. Repeating operation
laptop_brands * 3 # the entire tuple will be repeated three times

('lenovo',
 'HP',
 'Asus',
 'Acer',
 'Dell',
 'lenovo',
 'HP',
 'Asus',
 'Acer',
 'Dell',
 'lenovo',
 'HP',
 'Asus',
 'Acer',
 'Dell')

In [20]:
## what if we have a tuples of numbers and what if we multiply it with three
numbers_tuple = tuple([1,2,3,4,5,6,7,8,9,10])
print(numbers_tuple*3) # so 1 to 10 will be printed three times

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [21]:
# Immutable nature of tuples
# tuples are immutable , meaning their elements cannot be changed once assigned

## List are mutable
lst = [1,2,3,4,5]
print(lst)

lst[1] = "shravan" # we are modifying the list item
print(lst)

# But similar operation if we perform using tuples it won't work because tuple are immutable

values = tuple([5,1,2,4,3,9,8,7,6])
values[1] = "shravan"  # this will say Tuples don't support item assignment (error)
print(values)

[1, 2, 3, 4, 5]
[1, 'shravan', 3, 4, 5]

In [5]:
## Tuple methods : there are only two important methods in the tuples which we will use

tup_num = tuple([100,200,300,400,500,100])
print(tup_num.count(100)) # mention how many times an element is present, it will print 2
print(tup_num.index(100)) # what element or item is present on the index no mentioned will be returned by the index() , or we can say the first occurrence

2
0

In [29]:
# Packing and unpacking tuple

# what ever elements we pass in the following way of comma seperated manner, it will pack those elements in a tuple
packed_tuple = 1,"shravan",3.14,True
print(packed_tuple)


# Unpacking a tuple: we had a tuple and we are separating the tuple elements individually in that many number of elements

a,b,c,d = packed_tuple
print(a)
print(b)
print(c)
print(d)

(1, 'shravan', 3.14, True)
1
shravan
3.14
True

In [32]:
# unpacking with *

## what we are doing is we are taking the first element we , we are taking the last element , and the remaining elements
## we have used * to group the remaining elements
## The first element is 1 , last element is 10 , and from 2 we have used * to group the left tuple elements
tup_values = (1,2,3,4,5,6,7,8,9,10)
first,*middle,last = tup_values
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [43]:
# Nested tuples : tuples inside tuples

# Nested list example
lst = [[1,2,3],[4,5,6],[1,"Hello",3.14,"c"]]
lst[0][2] # we are accessing the list at index 0 from the above list , and from that list we are accessing the index at the second which is 3 we can also apply slicing operation in the nested list in following way
lst[0][:3] # we are accessing all the elements from the index 0 of the lst

[1, 2, 3]

In [37]:

# we can have a tuple in side a nested list as well
lst = [[1,2,3],[4,5,6],(1,"Hello",3.14,"c")]
lst[2][::]

(1, 'Hello', 3.14, 'c')

In [40]:
# Example of nested tuple
nested_tuples = ((1,2,3),('a','b','c'),(True,False))

## access elements inside a nested tuple
print(nested_tuples[1][-1])

c

In [41]:
# iterating over a nested tuple
# why we require two for loop , outer for iterating over the entire nested_tuple and inner loop for
# iteration in individual tuples
for sub_tuple in nested_tuples:
    for item in sub_tuple:
        print(item,end="")
    print("")

123
abc
TrueFalse